<!DOCTYPE html>
<html lang="en">
<% include ../layouts/head %>
<body>
<% include ../layouts/header %>

<main>
    <% if (products.length > 0) { %>
        <div class="w3-row">
            <% for (let product of products) { %>
                <div class="w3-col l3 m6 s12">
                    <div class="w3-margin w3-card w3-light-gray w3-hover-shadow">
                        <div class="w3-container w3-center">
                            <h3><%= product.title %></h3>
                            <img src="<%= product.imageURL %>" alt="Product Image">
                            <div style="height: 10vh; overflow-y: scroll;">
                                <p><%= product.description %></p>
                            </div>
                            <p><%= product.price %></p>

                            <div class="w3-section">
                                <a class="w3-button w3-green" href="/admin/edit-product/<%= product._id %>?edit=true">Edit</a>
                                <form action="/admin/delete/<%= product._id %>" style="display: inline;">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                                    <button class="w3-button w3-blue" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <p class="w3-center w-3-xxlarge">No Product</p>
    <% } %>
</main>
<% include ../layouts/footer %>
</body>
</html>
