<header>
    <nav class="w3-bar w3-teal w3-large">
        <a class="w3-bar-item w3-button w3-border-teal w3-bottombar w3-hover-none w3-hover-text-yellow w3-hover-border-yellow<%= path === '/' ? " w3-border-yellow w3-text-yellow" : '' %>" href="/">Shop</a>
        <% if (isAuthenticated) { %>
            <a class="w3-bar-item w3-button w3-border-teal w3-bottombar w3-hover-none w3-hide-small w3-hover-text-yellow w3-hover-border-yellow<%= path === '/cart' ? " w3-border-yellow w3-text-yellow" : '' %>" href="/cart">Cart</a>
            <a class="w3-bar-item w3-button w3-border-teal w3-bottombar w3-hover-none w3-hide-small w3-hover-text-yellow w3-hover-border-yellow<%= path === '/order' ? " w3-border-yellow w3-text-yellow" : '' %>" href="/order">Order</a>
            <a class="w3-bar-item w3-button w3-border-teal w3-bottombar w3-hover-none w3-hide-small w3-hover-text-yellow w3-hover-border-yellow<%= path === '/admin/add-product' ? " w3-border-yellow w3-text-yellow" : '' %>" href="/admin/add-product">Add Product</a>
            <a class="w3-bar-item w3-button w3-border-teal w3-bottombar w3-hover-none w3-hide-small w3-hover-text-yellow w3-hover-border-yellow<%= path === '/admin/products' ? " w3-border-yellow w3-text-yellow" : '' %>" href="/admin/products">Admin Product</a>
            <form action="/auth/logout" method="POST">
                <button class="w3-bar-item w3-button w3-border-teal w3-bottombar w3-hover-none w3-hide-small w3-hover-text-yellow w3-hover-border-yellow w3-right" type="submit">Logout</button>
            </form>
        <% } else { %>
            <a class="w3-bar-item w3-button w3-border-teal w3-bottombar w3-hover-none w3-hide-small w3-hover-text-yellow w3-hover-border-yellow w3-right<%= path === '/auth/login' ? " w3-border-yellow w3-text-yellow" : '' %>" href="/auth/login">Login</a>
        <% } %>
        <button class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="Collapsing()">&#9776;</button>
    </nav>

    <nav id="reponsive" class="w3-bar-block w3-teal w3-hide w3-hide-large w3-hide-medium w3-large">
        <% if (isAuthenticated) { %>
            <a class="w3-bar-item w3-button<%= path === '/cart' ? " activated" : '' %>" href="/cart">Cart</a>
            <a class="w3-bar-item w3-button<%= path === '/order' ? " activated" : '' %>" href="/order">Order</a>
            <a class="w3-bar-item w3-button<%= path === '/admin/add-product' ? " activated" : '' %>" href="/admin/add-product">Add Product</a>
            <a class="w3-bar-item w3-button<%= path === '/admin/products' ? " activated" : '' %>" href="/admin/products">Admin Product</a>
            <form action="/auth/logout" method="POST">
                <button class="w3-bar-item w3-button type="submit">Logout</button>
            </form>
        <% } else { %>
            <a class="w3-bar-item w3-button<%= path === '/auth/login' ? " activated" : '' %>" href="/auth/login">Login</a>
        <% } %>        
    </nav>
</header>