<!DOCTYPE html>
<html>
<% include ../layouts/head %>

<body>
    <% include ../layouts/header %>
    <main class="w3-container w3-display-container">
        <div class="w3-col m6 w3-display-topmiddle">
            <% if (products.length > 0) { %>
            <ul class="w3-ul">
                <% products.forEach(product => { %>
                <li class="w3-card-2 w3-margin">
                    <form class="w3-row" method="post" action="/cart-delete">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                        <p class="w3-col m4">Title : <%= product.productId.title %></p>
                        <p class="w3-col m4">Quantity : <%= product.quantity %></p>
                        <input type="hidden" name="productId" value="<%= product.productId._id %>" />
                        <button type="submit" style="margin-top: 1vh" ;
                            class="w3-col m4 w3-button w3-red">Delete</button>
                    </form>
                </li>
                <% }) %>
            </ul>
            <hr />
            <div class="w3-display-container">
                <form action="/order" method="post" id="payment-form">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                    <label for="total">
                        Total : 
                    </label>
                    <input type="text" value="<%= total %>" disabled />
                    <div class="form-row">
                        <label for="card-element">
                        Credit or debit card
                        </label>
                        <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display Element errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <button>Submit Payment</button>
                </form>
            </div>
            <% } else { %>
                <h3 class="w3-display-topmiddle">No products in cart</h3>
            <% } %>
        </div>

    </main>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_t9lbEKzNqZBqWCaYY2R6cHTe0040cAi2wW');
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        var style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: '#32325d',
            },
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                // Inform the customer that there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
                } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    </script>
    <% include ../layouts/footer %>
</body>

</html>